@model List<AnnouncementsBoard.Frontend.Domain.Models.Announcement>

<h1>Дошка оголошень</h1>

<a href="@Url.Action("Create")" class="btn btn-success">Додати нове</a>

<table class="table">
    <thead>
        <tr>
            <th>Назва Оголошення</th>
            <th>Опис</th>
            <th>Категорія</th>
            <th>Підкатегорія</th>
            <th>Статус</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var announcement in Model)
        {
            <tr>
                <td>@announcement.Title</td>
                <td>@announcement.Description</td>
                <td>@announcement.Category</td>
                <td>@announcement.SubCategory</td>
                <td>@announcement.Status</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = announcement.Id })" class="btn btn-primary">Редагувати</a>
                    <a href="@Url.Action("Delete", new { id = announcement.Id })" class="btn btn-danger"
                       onclick="return confirm('Ви впевнені що хочете видалити оголошення?');">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
